/* dark-theme.css */
body {
  background-color: #343a40;
  color: #f8f9fa;
}

.card {
  background-color: #454d55;
  border-color: #495057;
}

.card-title,
.card-text {
  color: #f8f9fa;
}
